<% # must pass in local variable :solr_field
%>

<ul class="facet-values list-unstyled">
  <% solr_range_queries_to_a(solr_field).each do |hash| %>
    <li>
        <span class="facet-label">
            <%= link_to(
              content_tag("span", hash[:from], :class => "from") + 
                " to " + 
                content_tag("span", hash[:to], :class => "to"), 
                add_range(solr_field, hash[:from], hash[:to]).merge(:action => "index"),
                :class => "facet_select"
              ) %> 
        </span>
        <span class="facet-count"><%= content_tag("span", hash[:count], :class=>"count")%></span>
    </li>
  <% end %>
</ul>
