form.range_limit {
  /* leave room for buttons not to collide on line wrap */
  line-height: 3;
}

form.range_limit input.range_begin, form.range_limit input.range_end {
  width: 4.5em;
}

.limit_content .subsection {
  margin-top: 1em;
}

.hover_legend {
  padding: 0.25em;
}

.slider_js .slider-selection {
  /* color from flot selection */
  background: #e8cfac;
}