form.range_limit input.range_begin, form.range_limit input.range_end {
  border:1px solid #DDDDDD;
  width: 4em; 
}

.limit_content .subsection {
  margin-top: 1em;
}

.hover_legend {
  border: 1px solid #C4DAFE;
  padding: 0.25em;  
}
