form.range_pub_date input.range_begin, form.range_pub_date input.range_end {
  border:1px solid #DDDDDD;
  width: 4em; 
}

.limit_content .subsection {
  margin-top: 1em;
}

#range_limit_tooltip {
  border: 1px solid #C4DAFE;
  padding: 0.25em;
  background-color: #E2EDFE;
  opacity: 0.80;
}
